<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django-TEST</title>
</head>
<body>
<ul>
    <li>Мастер по ремонту бытовой техники.</li>
    <li>Ветеринар.</li>
    <li>Уборка доома.</li>

    <li>Programming corssis</li>
        <ul>
            <li>Добавьте несколько новых страничек (пять) с объявлениями и отредактируйте страницу списка. </li>
            <li>На главной, т.е странице списка отобразите текст “Прошел все курсы на SkillBox.
                "Продаю готовые домашние задания".</li>
            <li>Cписок курсов со ссылками на страницы детального отображения.
                На странице конкретного курса должно быть фото, ссылка на курс и цена решения.</li>
        </ul>
</ul>
</body>
</html>