<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django-UPD</title>
</head>
<body>
<h1>Предлагаем следующий перечень услуг.</h1>

<ul>
    <li><a href="repair_master.html">Мастер по ремонту бытовой техники.</a></li>
    <li><a href="veterinary_site.html">Ветеринар.</a></li>
    <li>Уборка доома.</li>
    <li>Сад и ландшафтный дизайн.</li>
    <li><a href="plumber.html">Сантехник.</a></li>
    <li>Погрузочно-разгрузочные работы.</li>
    <li><a href="construction_works.html">Строительныйе работы.</a></li>
    <li><a href="excavator.html">Экскаватор.</a></li>
</ul>
</body>
<footer>
    <h4>Все специалисты проверенны и имеют все необходимые сертификаты.</h4>
</footer>
</html>