



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django-UPD</title>
</head>
<body>
    <h1>Предлагаем следующий перечень услуг.</h1>
    <ul>
        <li><a href="/repair">Мастер по ремонту бытовой техники.</a></li>
        <li><a href="/veterinary">Ветеринар.</a></li>
        <li><a href="/plumber">Сантехник.</a></li>
        <li><a href="/construction">Строительныйе работы.</a></li>
        <li><a href="/excavator">Экскаватор.</a></li>
        <li>Уборка доома.</li>
        <li>Сад и ландшафтный дизайн.</li>
        <li>Погрузочно-разгрузочные работы.</li>
    </ul>
</body>
<footer>
    <h4>Все специалисты проверенны и имеют все необходимые сертификаты.</h4>
</footer>
</html>

