<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Construction</title>
</head>
<body>
<h5><a href="advertisement_upd.html">Назад</a></h5>

<h1>Construction-work's</h1>
<p>Мы всегда готовы устранить провести любой вид строительных работ</p>
<figure>
    <img src="https://s.sergievgrad.ru/s/257/section/doska/upload/pers/257/img/doska/000/000/015/strdomov-1_6256875fca42c.jpg" alt="Строительные-работы" width="350">
    <img src="http://racechrono.ru/uploads/posts/2019-09/1567708827_5ab3c26cf0911.jpg" alt="Строительные-работы" width="350">
</figure>
</body>
</html>