certifi==2024.2.2
charset-normalizer==3.3.2
coverage==7.4.3
idna==3.6
iniconfig==2.0.0
mock==5.1.0
packaging==23.2
pillow==10.2.0
pluggy==1.4.0
pytest==8.0.2
requests==2.31.0
setuptools==69.1.1
urllib3==2.2.1
vk-api==11.9.9
